<ion-header>
  <ion-toolbar color="primary">
    <ion-title>profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input type="file" id="avatar" (change) = "upload()"/>
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input type="text" [(ngModel)] = "user.name" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="text" [(ngModel)] = "user.email" ></ion-input>
  </ion-item>

  <ion-button (click) = 'update()'>Update</ion-button>

</ion-content>
